<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header.html::header" />
<body>
	<div th:replace="common/navbar.html::navbar"></div>
	<div th:object="${item}">
		<div class="row">
			<div class="col-md-4">
				<img th:src="@{/images/default.png}" alt="IMAGE NOT SET" width="200"
					height="200" align="center">
			</div>
			<div class="col-md-8">
				<p class="h5">商品番号： [[ *{id} ]]</p>
				<p class="mt-5 h2">[[ *{name} ]]</p>
				<p>価格： [[ *{price} ]] Yen</p>
				<p th:text="*{description}"></p>
			</div>
			<div class="col-md-12">
				<a th:href="@{/items/edit/{id}(id=*{id})}">
					<button class="btn btn-sm btn-outline-primary">編集</button>
				</a>
			</div>
		</div>
		<div class="row mt-5 mr-1 ml-1">
			<small class="text-muted">テキストは Wikipedia からの抜粋です。</small>
		</div>
	</div>
</body>
</html>