<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header.html::header"/>
<body>
<div th:replace="common/navbar.html::navbar"></div>
<div class="container">
<div class="row">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="検索ワードを入力…" name="keyword">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">検索</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</body>
</html>